build/
bin/
obj/
src/*/obj
src/*/[Bb]in
src/*AssemblyInfo.cs
*.csproj.user
*ReSharper.user
_ReSharper*
*.ReSharper
*.suo
*.cache
NCVIB.user
*.user
src/Vendor/MarkdownSharp/MarkdownSharp/bin/Debug/MarkdownSharp.dll
src/Vendor/MarkdownSharp/MarkdownSharp/bin/Debug/MarkdownSharp.*
src/NCVIB.WebMap.Bridge/$bin/*
src/NCVIB.WebMap.Bridge/log4net.dll
src/NCVIB.WebMap.Bridge/log4net.xml
**/MissingTransactionException*
src/Vendor/MarkdownSharp/MarkdownSharp/bin
src/NCVIB.WebMVC/temp/*
src/NCVIB.WebMVC/t/*
src/NCVIB.WebMVC/*.sql
src/NCVIB.WebMVC/localDevsOwnSettings.config
src/NCVIB.WebMVC/InfraRawDataTest/*
*.logt
